.tool-bar-panel{
    -fx-background-color: #f4f4f4;
    -fx-border-color: #cccccc;
    -fx-border-width: 0 1 0 0;
}

.tool-button {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 8px;
    -fx-background-radius: 5px;
    -fx-cursor: hand;
}

.tool-button:hover {
    -fx-opacity: 0.8;
}

